* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid #333;
  cursor: pointer;
  background-color: #f1f3fa;
}

.timer-value {
  transform: rotate(90deg);
}

.timer.active {
  background-color: #1a1146;
  color: #f0f3fb;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
