* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 2px solid #333;
  cursor: pointer;
  background-color: #f1f3fa;
}

.timer-value {
  transform: rotate(90deg);
}

.timer.active {
  background-color: #1a1146;
  color: #f0f3fb;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.player-conditions {
  margin: 24px;
}

.time-input {
  margin: 24px;
}

.icons {
  width: 20%;
}

.icon {
  font-size: 16px;
  padding: 10px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  background-color: #1a1146;
  fill: #f0f3fb;
  text-align: center;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: auto;
  background-color: #1a1146;
  color: #f0f3fb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
